body{
  background: #041015;
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-image: url("/img/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
h2{
  font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
@media only screen and (min-width: 1439px) {
  body{
    font-size: 24px;
    background-image: url("/img/desk.png");
  }
  h2{
    font-size: 39px;
  }
}