/* Home */
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top 70px center;
    background-size: cover;
    height: 724px;
}
.home-title{
    margin-top: 90px;
    font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 1;
        font-variant: all-small-caps;
        color: #041015;
        text-shadow:
                0 0 5px #2ec9cc,
                0 0 10px #2ec9cc,
                0 0 10px #2ec9cc,
                0 0 30px #2ec9cc;
}
.home-text{
    margin-top: 20px;
    font-weight: 600;
        font-size: 20px;
}
.home-text-two{
    margin-top: 20px;
}
.home-link{
    display: block;
    margin-top: 20px;
    padding: 16px 24px;
        width: 345px;
        height: 51px;
        background: #ca5a2e; 
        margin-left: auto;
        margin-right: auto;   
        display: flex;
        justify-content: center;
        align-items: center;   
        font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
}
@media only screen and (min-width: 1439px) {
  .home-section{
    background-image: url("/img/home/desk.png");
    height: 710px;
  }
  .home-title{
    font-size: 80px;
  }
  .home-text{
margin-top: 24px;
width: 526px;
font-size: 40px;
  }
  .home-text-two{
    margin-top: 32px;
    font-size: 18px;
    width: 526px;
  }
  .home-link{
    margin-left: 0;
    margin-top: 24px;
    width: 416px;
        height: 51px;
  }
}
/* What Is Death Diaries? */
.what-wrapper{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media only screen and (min-width: 1439px) {
    .what-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 22px;
    }
.what-text{
width: 636px;
}
.what-text-two{
    margin-top: 110px;
}
.what-text-three{
    margin-top: -50px;
}
}
/* Featured Death Entries */
.featured-list{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 20px;
}
.featured-item{
    position: relative;
    width: 323px;
    height: 42px;
   }
   .featured-img{
    position: absolute;
    top: -10px;
    left: -22px;
    width: 20px;
    height: 13px;
   }
   .featured-link{
        padding: 16px 24px;
        width: 345px;
        height: 51px;
        background: #ca5a2e;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
   }
   .featured-title-desk{
    display: none;
   }
   @media only screen and (min-width: 1439px) {
    .featured-title{
        display: none;
    }
    .featured-title-desk{
        display: block;
    }
    .featured-list{
        margin-top: 56px;
        width: 676px;
    }
    .featured-item{
        width: 566px;
         }
    .featured-item:nth-child(even){
        margin-left: 60px;
    }
    .featured-img{
        width: 39px;
        height: 26px;
        top: -30px;
        left: -40px;
    }
    .featured-link{
        width: 416px;
            height: 51px;
            margin-top: 72px;
    }
    .boy-img{
        margin-right: 0;
        margin-left: auto;
        margin-top: -540px;
    }
   }
   /* Kinds of Pain We Cover */
.kinds-title{
    margin-bottom: 25px;
}
.kinds-swiper-slide{
    cursor: pointer;
}
.kinds-wrapper{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(46, 201, 204, 0.4) 100%);
    height: 103px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.kinds-wrapper-two{
    margin-top: 25px;
}
.kinds-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 265px;
}
.kinds-title-slide{
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #fff;
}
.kinds-text-slide{
    text-align: center;
}
   .custom-pagination {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
       margin-top: 20px;
       width: 100%;
       height: 50px;
   }

   .pagination-item {
       border-radius: 8px;
       width: 8px;
       height: 8px;
       background: #969bad;
       transition: background-color 0.3s ease-in-out;
   }

   .pagination-item.active {
       border: 1px solid #091018;
       border-radius: 8px;
       background: #2ec9cc;
       transform: scale(1.4);
 }
 .custom-navigation{
    display: none;
 }
 @media only screen and (min-width: 1439px) {
  .kinds-title{
    margin-bottom: 55px;
  }
  .kinds-container{
    position: relative;
  }
  .custom-pagination{
    display: none;
  }
  .custom-navigation{
    display: flex;
    position: absolute;
    top:70px;
    justify-content: space-between;
    width: 90%;
  }
  .custom-arrow{
    cursor: pointer;
    background-color: inherit;
    border: none;
  }
  .kinds-custom-next{
    transform: rotate(180deg);
  }
  .kinds-title-slide{
    font-size: 24px;
  }
  .kinds-text-slide{
    font-size: 24px;
  }
  .kinds-wrapper{
    height: 124px;
  }
  .kinds-text-wrapper{
width: 317px;
  }
 }
 /* We Learn More When We Die */
 .learn-text-wrapper{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .learn-container{
    padding-bottom: 50px;
 }
 @media only screen and (min-width: 1439px) {
    .learn-text-wrapper{
        margin-top: 56px;
        margin-bottom: 0;
        width: 526px;
    } 
.learn-img{
    margin-right: 0;
    margin-left: auto;
    margin-top: -300px;
}
 }
 /* Tell Us How You Died */
 .tell-section{
    background: linear-gradient(135deg, rgba(46, 201, 204, 0) 0%, rgba(46, 201, 204, 0.4) 100%);
 }
 .tell-text{
    margin-top: 25px;
 }
 .tell-span{
    font-weight: 700;
 }
 @media only screen and (min-width: 1439px) {
  .tell-text{
    margin-top: 56px;
  }
  .tell-link{
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
  }
 }
 /* The Hall of Glorious Failure */
 .hall-list {
     margin-top: 25px;
     display: flex;
     flex-direction: column;
     gap: 25px;
     padding-left: 20px;
 }

 .hall-item {
     position: relative;
     width: 323px;
     height: 42px;
 }
.hall-img{
    margin-top: 25px;
}
 @media only screen and (min-width: 1439px) {
      .hall-list {
         margin-top: 56px;
        width: 416px;
         gap: 70px;
     }

     .hall-item {
        width: 416px;
     }

     .hall-item:nth-child(even) {
         margin-left: 60px;
     }

     .hall-img {
        width: 636px;
            height: 528px;
         margin-right: 0;
         margin-left: auto;
         margin-top: -530px;
     }
 }
 /* Words from the Fallen */
 .word-title {
     margin-bottom: 25px;
 }

 .word-swiper-slide {
     cursor: pointer;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(46, 201, 204, 0.4) 100%);
    padding: 15px;
 }
.text-word-slide{
    height: 210px;
    margin-bottom: 25px;
}
.author{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: right;
        color: #2ec9cc;
        margin-bottom: 10px;
}
.rank-author{
    font-weight: 700;
    text-align: right;
    font-size: 16px;
}
 .custom-pagination {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-top: 20px;
     width: 100%;
     height: 50px;
 }

 .word-pagination-item {
     border-radius: 8px;
     width: 8px;
     height: 8px;
     background: #969bad;
     transition: background-color 0.3s ease-in-out;
 }

 .word-pagination-item.active {
     border: 1px solid #091018;
     border-radius: 8px;
     background: #2ec9cc;
     transform: scale(1.4);
 }

 .custom-navigation {
     display: none;
 }

 @media only screen and (min-width: 1439px) {
     .word-title {
         margin-bottom: 56px;
     }

     .word-container {
         position: relative;
     }

     .custom-pagination {
         display: none;
     }

     .custom-navigation {
         display: flex;
         position: absolute;
         top: 70px;
         justify-content: space-between;
         width: 90%;
     }

     .custom-arrow {
         cursor: pointer;
         background-color: inherit;
         border: none;
     }

     .word-custom-next {
         transform: rotate(180deg);
     }
.word-swiper-slide{
    padding: 16px 24px;
}
.text-word-slide{
    height: 252px;
}
.author{
    font-size: 24px;
}
 }
 /* Want More Death in Your Inbox? */
.inbox-section{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(46, 201, 204, 0.4) 100%);
 }
.inbox-text-wrapper{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inbox-span{
    font-weight: 700;
}
 .subscribe-form {
     display: flex;
     flex-direction: column;
     width: 345px;
     height: 115px;
 }

 .email-input {
     padding: 16px 14px;
    font-size: 16px;
      border: 2px solid #ca5a2e;
    border-bottom: 1px solid #ca5a2e;
     background-color: transparent;
   }
   .email-input::placeholder {
       color: rgba(46, 201, 204, 0.4); 
    }
 .subscribe-button {
     padding: 15px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color:#fff;
    background: #041015;
    border: 2px solid #ca5a2e;
    border-top: 1px solid #ca5a2e;
     cursor: pointer;     
    }
@media only screen and (min-width: 1439px) {
.inbox-section{
    height: 308px;
}
.inbox-text-wrapper{
    margin-top: 56px;
    margin-bottom: 0;
    width: 526px;
}
.subscribe-form{
    flex-direction: row;
    width: 526px;
        height: 51px;
        margin-right: 0;
        margin-left: auto;
        margin-top: -80px;
}
.email-input{
    border: 2px solid #ca5a2e;
    border-right: 1px solid #ca5a2e;
    width: 405px;
}
.subscribe-button{
    border: 2px solid #ca5a2e;
    border-left: 1px solid #ca5a2e;
        padding: 16px 24px;
        width: 121px;
        height: 51px;
}
}